* {
    transition: 0.3s;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 120%;
    background-image: linear-gradient(135deg, #00B7D4, #505488, #2F3F80,
                                    #161569, #5A4894, #A950A1, #FF7CAE);
    background-size: 500%;
    animation: fanimado 10s infinite;
}
header {
    background-color: #333;
    padding: 20px;
}
.header-title {
    color: #4CAF50;
}
.container {
    width: 98vw;
    height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.encabezado {
    position: relative;
    background: #FFF;
    min-width: 300px;
    width: 70%;
    max-width: 600px;
    padding: 10px;
}
.bienvenida {
    font-size: 175%;
}
.texto-intro {
    font-size: 150%;
    font-weight: regular;
    color: yellow;
}
.caja {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.categoria {
    opacity: 0.3;
    text-align: left;
}
.pregunta {
    padding: 10px;
}
.imagen {
    object-fit: cover;
    height: 0px;
    width: 0px;
}
.btn {
    background: #FFF;
    width: 60%;
    max-width: 550px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}
.btn:hover {
    transform: scale(1.05);
}
.btn-primary {
    background: #4CAF50;
    font-size: 1.5rem;
}
.btn-secundary {
    background: #ca7483;
}
.numero {
    position: absolute;
    opacity: 0.3;
    top: 10px;
    right: 10px;
}
.puntaje {
    padding: 10px;
    color: #FFF;
}

footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

@keyframes fanimado {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

@media (max-width: 625px){
    .container {
      height: 150vh;
    }
}